html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    gap: 2rem;
}
.container{
    width: 92%;
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    flex-wrap: wrap;
}

button{
    width: 15rem;
    height: 15rem;
    border-radius: 15rem;
    -webkit-border-radius: 15rem;
    -moz-border-radius: 15rem;
    -ms-border-radius: 15rem;
    -o-border-radius: 15rem;
    color: #fff;
    background-color: #2ebde8;
    cursor: pointer;
    transition: all 100ms;
    -webkit-transition: all 100ms;
    -moz-transition: all 100ms;
    -ms-transition: all 100ms;
    -o-transition: all 100ms;
    font-size: 10rem;
    border: none;
}
button:hover{
    background-color: hsl(194, 80%, 65%);

}
.tittle{
    font-size: 4rem;  
}
.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}
.showChoice{
    font-size: 3rem;
    margin : 0;
}
#displayResult{
    font-size: 6rem;
}
.green{
    color: rgb(8, 227, 8);
}
.red{
    color: rgb(227, 80, 8);
}
.showScore{
    font-size: 2rem;
}

@media screen and (max-width:768px) {
    *{
        cursor: none;
    }
    html{
        font-size: 49%;
    }
}
@media screen and (max-width:440px) {
    html{
        font-size: 40%;
    }
}
@media screen and (max-width:320px) {
    html{
        font-size: 34%;
    }
}